.home-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #005f8e;
  color: white;
  overflow: hidden; /* Esconde a barra de rolagem */
}



.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 50%;
  overflow: hidden; /* Adicione essa propriedade para ocultar as pontas visíveis */
  margin-bottom: 20px;
}

.logo {
  width: 90%; /* Ajuste a largura para 100% */
  height: 90%; /* Ajuste a altura para 100% */
  object-fit: cover; /* Adicione essa propriedade para preencher o espaço do container */
}

.link {
  margin: 5px;
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #07b5fa;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  color: #333;
  background-color: aliceblue;
}

.link:hover {
  background-color: #d14a14;
  border: 2px solid #d14a14;
}

