.App {
    text-align: center;
    padding: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="time"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }


  .escalas-tabela {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .escalas-tabela th,
  .escalas-tabela td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .escalas-tabela th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .escalas-tabela tbody tr:hover {
    background-color: #f9f9f9;
  }
  
  